SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=shivanya
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
AUTH_JWT_SIGNING_KEY=change-me
CORS_ALLOWED_ORIGINS=http://localhost:3008
